h1 {
    font-family: 'Sail', cursive;
    font-size: 80px;
}

a, p {
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
}

.webTitle {
    margin-top: 100px;
    text-align: center;
}

.navBar{
    text-align: center;
    padding-top: 80px;
    }
    
.navBar a{
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    margin-right: 50px;
    color: #6096B4;
    }

    .beachLoc li{
        font-size: 35px;
        margin-top: 80px;
        text-align: center;
        list-style: none;
        font-weight: 600;
    }

    .beachLoc p{
        font-size: 30px;
        font-weight: 200;
        background-color: #BDCDD6;
        padding: 40px 40px;
        margin-right: 280px;
        margin-left: 280px;
        align-items: justify;
        margin-top: 60px;
        margin-bottom: 30px;
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 16%), 0 4px 5px 0 rgb(0 0 0 / 11%), 0 1px 10px 0 rgb(0 0 0 / 10%);
    }

.logo{
    float:left;
    position: relative; top: -22px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }